@model MVCPrject.Models.Recipe

<h3>RecipeSingle</h3>
@{
	ViewData["Title"] = "Recipe Details";
}

<h1>@Model.RecipeName</h1>
<img src=@Model.RecipeImage></img>
<p>@Model.RecipeDescription</p>
<p>@Model.RecipeIngredients</p>
<p>@Model.RecipeInstructions</p>