<div class="modal fade" id="nutritionGoalModal" tabindex="-1" aria-labelledby="nutritionGoalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-content-custom">
                <div class="modal-header modal-header-custom">
                    <h5 class="modal-title modal-title-custom" id="nutritionGoalModalLabel">Set Nutrition Goal</h5>
                </div>
                
                <div class="modal-body modal-body-custom">
                    <form id="nutritionGoalForm">
                        <div class="nutrition-item">
                            <label class="nutrition-label">Calories</label>
                            <input type="number" class="form-control nutrition-input" id="caloriesGoal" placeholder="Enter calories goal">
                        </div>
                        
                        <div class="nutrition-item">
                            <label class="nutrition-label">Protein</label>
                            <input type="number" class="form-control nutrition-input" id="proteinGoal" placeholder="Enter protein goal (g)">
                        </div>
                        
                        <div class="nutrition-item">
                            <label class="nutrition-label">Carbs</label>
                            <input type="number" class="form-control nutrition-input" id="carbsGoal" placeholder="Enter carbs goal (g)">
                        </div>
                        
                        <div class="nutrition-item">
                            <label class="nutrition-label">Fat</label>
                            <input type="number" class="form-control nutrition-input" id="fatGoal" placeholder="Enter fat goal (g)">
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer modal-footer-custom">
                    <button type="button" class="btn btn-save" id="saveGoalBtn">Save</button>
                </div>
            </div>
        </div>
    </div>