body {
      font-family: 'Inter', sans-serif;
      background: #fff;
      width: 100%;
      overflow-x: hidden;
    }
    .navbar-brand span {
      color: orange;
    }
    .hero{
      margin-bottom: 8rem;
    }
    .hero-img {
      max-width: 100%;
    }
    .hero-text {
      padding-top: 2rem;
    }
    .ellipse-1 {
      top: -700px;
      left: -1000px;
      width: 1500px;
      height: 1500px;
      background: url('../img/Ellipse-blue.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }

    .ellipse-2 {
      bottom: -500px;
      right: -1100px;
      width: 1500px;
      height: 1500px;
      background: url('../img/Ellipse-blue.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }
    .ellipse-3 {
      bottom: 800px;
      left: -900px;
      width: 1500px;
      height: 1500px;
      background: url('../img/Ellipse-red.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }
    .ellipse-4 {
      bottom: 100px;
      right: -900px;
      width: 1500px;
      height: 1500px;
      background: url('../img/Ellipse-yellow.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }
    .ellipse-5 {
      bottom: -700px;
      left: -900px;
      width: 1500px;
      height: 1500px;
      background: url('../img/Ellipse-yellow.png') no-repeat center center;
      background-size: cover;
      z-index: -1;
    }
    .register-btn {
      background-color: orange;
      color: black;
      font-weight: 800;
      font-size: 1.7rem;
      padding: 0.75rem 8rem;
      border: none;
      border-radius: 10px;
    }
    .as-seen-section {
      margin-bottom: 10rem;
    }
    .as-seen-section img {
      max-height: 100px;
    }
    .info-section {
      background: #FBAE1F;
      padding: 2rem 5rem;
      margin-bottom: 10rem;
    }
    .info-section button{
      background-color: #324089;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      padding: 0.75rem 8rem;
      border: none;
      border-radius: 30px;
    }
    .info-img {
      right: -550px;  
      background: url('../img/discover.png') no-repeat center center;
      background-size: contain; 
      background-position: center; 
      z-index: 2; 
    }
    .cta-section {
      background: #324089;
      padding: 5rem 5rem;
      margin-top: 2rem;
    }
    .cta-section button {
      background-color: #324089;
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      padding: 0.75rem 8rem;
      border: none;
      border-radius: 30px;
    }
    .footer {
      padding: 1rem 0;
      background-color: white;
    }
    .px-custom {
    padding-left: 180px;
    padding-right: 180px;
  }