<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCPrject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCPrject.styles.css" asp-append-version="true" />
    <script src="https://unpkg.com/feather-icons"></script>
    @RenderSection("Styles", required: false)

</head>

<body class="d-flex flex-column min-vh-100 overflow-hidden">
    <div class="d-flex">
        <nav class="d-flex flex-column flex-shrink-0 p-4 text-black bg-light border-end"
            style="width: 15vw; height: 100vh;">
            <a class="navbar-brand" href="#"><img src="~/img/logo-colored.png" alt="Logo" class="w-100 mb-5"></a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Explore</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Meal
                        Planner</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Community</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Chat" asp-action="Chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
                </li>
            </ul>

            <div class="mt-auto text-muted small border-top pt-3" style="font-size: 0.75rem;">
                <p class="mb-0">Rules | Privacy | User Agreement</p>
                <p class="mb-0">Cooking Ina, Inc. © 2025. All rights reserved.</p>
            </div>
        </nav>

        <div class="flex-grow-1">
            <main role="main">
                @RenderBody()
            </main>
        </div>
        <!-- Floating Buttons -->
        <div class="position-fixed bottom-0 end-0 p-4 d-flex flex-column gap-3 align-items-end">
            <button class="btn rounded-circle shadow" style="width: 56px; height: 56px; background-color: #EC433E;">
                <i data-feather="plus" class="text-white fw-bold"></i>
            </button>
            <button class="btn rounded-circle shadow" style="width: 56px; height: 56px; background-color: #EC433E;">
                <img src="~/img/bot-btn.png" alt="chatbot" style="width: 24px;">
            </button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>feather.replace()</script>

</body>

</html>
