<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCPrject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCPrject.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="d-flex flex-column flex-shrink-0 p-4 text-black bg-light position-fixed border-end"
            style="width: 300px; height: 100vh;">
            <a class="navbar-brand" href="#"><img src="~/img/logo-colored.png" alt="Logo" class="w-100 mb-5"></a>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Explore</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Meal
                        Planner</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Recipe" asp-action="Recipe">Community</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Chat" asp-action="Chat">Chat</a>
                </li>
                <li>
                    <a class="nav-link text-black" asp-area="" asp-controller="Profile" asp-action="Profile">Profile</a>
                </li>
            </ul>

            <div class="mt-auto text-muted small border-top pt-3" style="font-size: 0.75rem;">
                <p class="mb-0">Rules | Privacy | User Agreement</p>
                <p class="mb-0">Cooking Ina, Inc. © 2025. All rights reserved.</p>
            </div>
        </nav>

    </header>
    <div class="container" style="margin-left: 300px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
