@{
    ViewData["Title"] = "Profile";
}
<div class="container-fluid">
    <div class="d-flex flex-row justify-content-between align-items-center" style="height: 30vh;">
        <img src="~/img/image.png" alt="Logo" class="col-2 p-3" />
        <div class="col-9 p-5">
            <div>
                <h1>rain</h1>
            </div>
            <div>
                <p>description</p>
            </div>
            <div>
                footer
            </div>
        </div>
    </div>

</div>