@{
    ViewData["Title"] = "Home";
}
@model MVCPrject.Models.Recipe;

<div class="text-center w-100">
    <h1 class="display-4">Home</h1>
    <a asp-action="Recipe" class="btn btn-primary"> Overveiw</a>

</div>