@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">HELLO</h1>
    <a asp-action="Recipe" class="btn btn-primary"> Overveiw</a>
    <a asp-action="CreateEditRecipe" class="btn btn-primary"> Create</a>


</div>
